.media{position:relative;width:100%;border-radius:12px;overflow:clip}.media>*{position:absolute;height:100%;width:100%;left:0;top:0}.media.fit-cover>*{object-fit:cover}.media.fit-contain>*{object-fit:contain!important}
/*
     FILE ARCHIVED ON 06:34:52 Jul 10, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:49:49 Apr 17, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.784
  load_resource: 215.518
  PetaboxLoader3.resolve: 93.54
  PetaboxLoader3.datanode: 49.787 (2)
  loaddict: 94.807
*/